body {
    background-color: rgb(62, 93, 107);
  }
  
  h1 {
    color: white;
    text-align: center;
  }

  p {
    font-family: verdana;
    font-size: 20px;
}
th {
  text-align: left;
}
.header { 
    color: white;
    font-size: 50px;
}
.scrollit {
  overflow:scroll;
  height:400px;
}